/* Store all external css here */

/* .section {} */
/* #attribute-heading {} */

/* tagname */
footer {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
  }
  
  ul,
  ol,
  footer h2 {
    text-align: left;
  }